*, p, h1,h2,h3,h4,h5,h6, ul, li{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}
body::-webkit-scrollbar-track{
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
}
body::-webkit-scrollbar-button{
    border-radius: 20px;
    display: none;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(180,180,180);
    border: 3px solid rgb(250, 250, 250);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover{
    border: 1px solid rgb(250, 250, 250);
    background-color: rgb(150,150,150);
}